<html>
	<head>
		<title><%= title %></title>
		<%- include("base/header") %>
	</head>
	<body>
      <%- include("nav", {active:2}) %>
      <div class="ui segment">
          <%- include("table/mail") %>
      </div>
	</body>
</html>